@import "normalize.css";
@import "_variables";
@import "_functions";
@import "jquery-ui.css";

html
{
  width  : 100%;
  height : 100%;
}

body
{
  background-color : $main-bg;
}

h1
{
  font-size     : 3.6rem;
  color         : $color-primary-2;
  margin-top    : 0px;
  margin-bottom : 20px;
  @include font-La-bd;
}

h2
{
  font-size     : 3.0rem;
  color         : $color-primary-2;
  margin-top    : 0px;
  margin-bottom : 20px;
  @include font-La-bd;
}

h3
{
  font-size     : 2.4rem;
  color         : $color-primary-2;
  margin-top    : 0px;
  margin-bottom : 20px;
  @include font-La;
}

h4
{
  font-size     : 2.2rem;
  color         : $color-primary-4;
  margin-top    : 0px;
  margin-bottom : 20px;
  @include font-La-bd;
}

h5
{
  font-size     : 1.8rem;
  color         : $color-primary-4;
  margin-top    : 0px;
  margin-bottom : 20px;
  @include font-La-bd;
}

h6
{
  font-size     : 1.6rem;
  color         : $color-primary-4;
  margin-top    : 0px;
  margin-bottom : 20px;
  @include font-La-bd;
}

p
{
  font-size     : 1.6rem;
  color         : $color-primary-3;
  margin-top    : 0px;
  margin-bottom : 18px;
  @include font-La;

  &.bigger
  {
	font-size : 1.8rem;
  }

    &.big {
        font-size: 2.2rem;
    }

  &.smaller
  {
	font-size : 1.4rem;
	color     : $color-primary-4;
  }

}

form {

    input {

        &.form-control {
            font-size: 1.6rem;
            color: $color-primary-3;
            border: 1px solid #e0e0e0;
            padding: 12px 18px 13px;
            height: inherit;

            @include font-La;

            &:focus {
                outline: none;
                border: 1px solid $color-primary-1;
                box-shadow: none;
            }

            &:hover, &.hover {
                border: 1px solid $color-primary-1;
            }

        }

        &.error {
            border: 1px solid $color-secondary-1;
        }

        &[disabled="disabled"] {
            background: #f5f5f5;
            border: 1px solid #f5f5f5;
        }

    }

    textarea {

        &.form-control {
            font-size: 1.6rem;
            color: $color-primary-3;
            border: 1px solid #e0e0e0;
            min-height: 115px;

            &:hover, &.hover {
                border: 1px solid $color-primary-1;
            }

            &:focus {
                outline: none;
                border: 1px solid #e0e0e0;
                box-shadow: none;
            }

        }

    }

    .dropdown-input {

        .open {
            position: static;

            ul {
                display: table;
                width: 100%;
                left: 0;
                right: 0;
                padding: 0px;
                margin-top: 0px;
                box-shadow: none;

                li {

                    a {
                        font-size: 1.6rem;
                        color: $color-primary-4;
                        padding: 12px 18px 13px;

                        @include font-La;

                        &:hover {
                            background: $color-primary-1;
                            background-image: none;
                        }

                    }

                }

            }

        }

    }

    .help-block {
        font-size: 1.3rem;

        @include font-La;

        &.error {
            color: $color-secondary-1;
        }

    }

    .input-group {

        &:hover {

            input {

                &.form-control {

                    border: 1px solid $color-primary-1;

                }

            }

            .btn {
                border: 1px solid $color-primary-1;
                color: $color-primary-1;
                background: $white;
            }
        }

        .btn {
            min-width: 42px;

            &.btn-calendar {
                padding: 14px 12px 15px;
                font-size: 1.8rem;

                &:hover, &.hover {
                    border: 1px solid $color-primary-1;
                    color: $color-primary-1;
                    background: $white;
                }

            }

            &.dropdown-toggle {

                padding: 19px 12px 20px;

                &:hover, &.hover {
                    color: $color-primary-1;
                    background: $white;
                    border: 1px solid $color-primary-1;
                }

                .caret {
                    border-top: 8px dashed;
                    border-right: 7px solid transparent;
                    border-left: 7px solid transparent;

                    &:hover, &.hover {
                        color: $color-primary-1;
                    }
                }

            }

            &:focus {
                outline: none;
                box-shadow: none;
            }

        }



    }

    label {
        font-size: 1.6rem;
        color: $color-primary-3;

        @include font-La;
    }

}

form input.form-control::-webkit-input-placeholder, form textarea.form-control::-webkit-input-placeholder {
   color: $color-primary-4;
   @include font-La;
}
form input.form-control:-moz-placeholder, form textarea.form-control:-moz-placeholder { /* Firefox 18- */
   color: $color-primary-4;
   @include font-La;
}
form input.form-control::-moz-placeholder, form textarea.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: $color-primary-4;
   @include font-La;
}
form input.form-control:-ms-input-placeholder, form textarea.form-control:-ms-input-placeholder {
   color: $color-primary-4;
   @include font-La;
}

.ui-widget-content {

    .ui-state-default {
        text-align: center;
    }

    .ui-datepicker-next, .ui-datepicker-prev {

        &.ui-state-hover {
            background: $white;
            border: 0px;
            top: 2px;
            cursor: pointer;
        }

        &.ui-datepicker-next-hover {
            right: 2px;
        }

        &.ui-datepicker-prev-hover {
            left: 2px;
        }

    }

    .ui-icon, .ui-widget-content .ui-icon {
        background-image: url("images/ui-icons_f59100_256x240.png");
    }

}

.orange {
    color: $color-primary-1;
}

.pc-1 {
    color: $color-primary-1;
}

.pc-2 {
    color: $color-primary-2;
}

.pc-3 {
    color: $color-primary-3;
}

.pc-4 {
    color: $color-primary-4;
}

.sc-1 {
    color: $color-secondary-1;
}

.sc-2 {
    color: $color-secondary-2;
}

.sc-3 {
    color: $color-secondary-3;
}

.sc-4 {
    color: $color-secondary-4;
}

.sc-5 {
    color: $color-secondary-5;
}

.sc-6 {
    color: $color-secondary-6;
}

.sc-7 {
    color: $color-secondary-7;
}

.La
{
  @include font-La;
}

.LaI
{
  @include font-La-i;
}

.LaBd
{
  @include font-La-bd;
}

.LaBdI
{
  @include font-La-bd-i;
}

nav {

    &.navbar-default, &.navbar {
        background: #47586d;
        border: 0px;
        box-shadow: none;
        margin-bottom: 30px;
        border-radius: 0px;
        text-shadow: none;

        &> .container-fluid {

            .navbar-header {

                @media (max-width: $size-medium - 1) {
                    float: none;
                }

                .navbar-brand {
                    margin: 0px;
                    margin-right: 50px;
                    padding: 0px;
                    padding-top: 22px;
                    font-size: 1.9rem;
                    text-shadow: none;
                }

                .navbar-toggle {
                    margin-top: 43px;

                    @media (max-width: $size-medium - 1) {
                        display: block;
                    }

                    &:hover {
                        background: #dddddd;

                        .icon-bar {
                            background: #ffffff;
                        }

                    }

                    &:focus {
                        background: #ffffff;

                        .icon-bar {
                            background: #888888;
                        }

                    }

                }

            }

            .navbar-collapse {

                @media (max-width: $size-medium - 1) {

                    border-top: 1px solid transparent;
                    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

                }

                &.collapse {

                    @media (max-width: $size-medium - 1) {
                        display: none !important;
                    }

                    &.in {

                        @media (max-width: $size-medium - 1) {
                            display:block !important;
                            position: absolute;
                            background: #ffffff;
                            right: 0px;
                            z-index: 1000;
                        }

                    }

                }

            }

            .navbar-nav {

                @media (max-width: $size-medium - 1) {
                    margin-top: 0px;
                    float: none !important;
                    margin-top: 7.5px;

                    .navbar-left, .navbar-right {
                        float: none !important;
                    }

                    .navbar-fixed-top {
                        top: 0;
                        border-width: 0 0 1px;
                    }

                }

                & > li {

                    @media (max-width: $size-medium - 1) {
                        float: none;
                    }

                    &.active {

                        & > a {
                            background-image: none;
                            background: transparent;
                            box-shadow: none;
                            font-weight: bold;
                            border-bottom: 3px solid $color-primary-1;
                            color:  $color-primary-1;
                        }

                    }

                    & > a {
                        font-size: 1.5rem;
                        color: #ffffff;
                        padding: 20px 0px 17px 0px;
                        margin-left: 20px;
                        margin-right: 20px;
                        text-shadow: none;

                        @include font-La-bd;

                        &:hover, &.hover {
                            background-image: none;
                            background: transparent;
                            box-shadow: none;
                            color:  $color-primary-1;

                            @media (max-width: $size-medium - 1) {
                                border-bottom: 0px;
                            }
                        }

                        @media (max-width: $size-medium - 1) {
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                    }

                }

            }

            .navbar-nav.navbar-right {

                & > li {

                    & > a {
                        font-size: 1.5rem;
                        color: #ffffff;
                        padding: 20px 0px 17px 0px;
                        margin-left: 20px;
                        margin-right: 20px;
                        padding-right: 20px;

                        color: #b7c4d4;

                        &.search {
                            position: relative;

                            i {
                                margin-right: 8px;
                                font-size: 1.7rem;
                            }

                            &:after {
                                display: block;
                                content: '';
                                position: absolute;
                                height: 34px;
                                top: 13px;
                                right: 0px;
                                width: 1px;
                                background: #727f8f;
                            }

                        }

                        &.user-profile {
                            padding: 8px 0px 8px 0px;

                            span {
                                display: inline-block;
                                margin-right: 8px;
                            }

                            &:hover, &.hover {
                                color: $white;
                            }

                        }

                        &.logout {

                            i {
                                margin-right: 8px;
                                font-size: 1.7rem;
                            }

                            &:hover, &.hover {
                                color: $color-secondary-1;
                            }

                        }

                    }

                }

            }

        }

    }

}

.btn {

    &.btn-type-1 {
        color: $white;
        background-color: $color-primary-1;
        background-image: none;
        border-radius: 4px;
        border: 2px solid $color-primary-1;
        padding: 10px 23px;
        font-size: 1.6rem;
        box-shadow: none;

        @include font-La-bd;

        &:hover, &.hover {
            background-color: $color-primary-2;
            background-image: none;
            border-radius: 4px;
            border: 2px solid $color-primary-2;
        }

        &:focus, &.clicked {
            outline: none;
            background-color: $color-primary-3;
            background-image: none;
            border-radius: 4px;
            border: 2px solid $color-primary-3;
        }

        span {
            margin-left: 8px;
        }

    }

    &.btn-type-1-o {
        color: $color-primary-1;
        background-color: $white;
        background-image: none;
        border-radius: 4px;
        border: 2px solid $color-primary-1;
        padding: 10px 23px;
        font-size: 1.6rem;
        box-shadow: none;

        @include font-La-bd;

        &:hover, &.hover {
            background-color: $white;
            background-image: none;
            color: $color-primary-2;
            border-radius: 4px;
            border: 2px solid $color-primary-2;
        }

        &:focus, &.clicked {
            outline: none;
            background-color: $white;
            background-image: none;
            border-radius: 4px;
            color: $color-primary-3;
            border: 2px solid $color-primary-3;
        }

        span {
            margin-left: 8px;
        }

    }

}

#typography
{
  background : #f7f5f3;
  padding    : 50px 30px;
}

.whiteBg {
    background: $white;
    margin-bottom: 40px;

    & > div {
        padding: 40px;
    }
}
.bordered {
    border: 1px solid #e0e0e0;
}
.border-left-no {
    border-left: 0px !important;
}
.centered {
    text-align: center;
}

.for-showcase-only
{
  border-collapse : collapse;

  tr
  {

	td
	{
	  vertical-align : top;
	  padding        : 20px;
	}

  }

  p {

        &.color-show {
            padding-left: 60px;
            padding-top: 10px;
        }

    }

}

.color-circle {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid transparent;
    float: left;

    @include border-radius(50%);

    &.secondary-6, &.secondary-7 {
        border: 1px solid #c5c5c5;
    }
}

.primary-1 {
    background: $color-primary-1;
}

.primary-2 {
    background: $color-primary-2;
}

.primary-3 {
    background: $color-primary-3;
}

.primary-4 {
    background: $color-primary-4;
}

.secondary-1 {
    background: $color-secondary-1;
}

.secondary-2 {
    background: $color-secondary-2;
}

.secondary-3 {
    background: $color-secondary-3;
}

.secondary-4 {
    background: $color-secondary-4;
}

.secondary-5 {
    background: $color-secondary-5;
}

.secondary-6 {
    background: $color-secondary-6;
}

.secondary-7 {
    background: $color-secondary-7;
}

.row
{
  &.padded
  {
	padding : $big-padding;
	margin  : 0px;
  }
  .inner
  {
	&.padded
	{
	  padding : $big-padding;
	}
	border           : 1px solid $color-secondary-7;
	background-color : $white;
  }
}

table
{
  &.data-table
  {
	width : 100%;
	thead
	{
	  th
	  {
		background-color : $color-additional-1;
		padding          : $main-padding;
		text-align       : left;
		border           : 1px solid $color-secondary-7;
		font-weight      : bold;
		color            : $color-primary-2;
	  }
	}
	tbody
	{

	  tr
	  {
		&:nth-child(odd)
		{
		  background-color : $color-primary-5;
		}
		&:nth-child(even)
		{
		  background-color : $color-additional-2;
		}
		td
		{
		  padding       : $main-padding;
		  text-align    : right;
		  border        : 1px solid $color-secondary-7;
		  font-weight   : bold;
		  color         : $color-primary-4;
		  border-top    : none;
		  border-bottom : none;
		}
		&:last-child
		{
		  td
		  {
			border-bottom : 1px solid $color-secondary-7;
		  }
		}
	  }
	}
  }
}

.sort
{
  display     : inline-block;
  position    : relative;
  height      : 1em;
  line-height : 1em;
  sup
  {
	left     : 0;
	top      : -0.2em;
	position : absolute;
  }
  sub
  {
	bottom   : -0.2em;
	left     : 0;
	position : absolute;
  }
}

nav
{
  &.block
  {
	display : block;
	border  : 1px solid $color-secondary-7;
	padding : $small-padding;
  }
  &.pager
  {
	.pagination
	{
	  padding      : 0;
	  margin       : 0;
	  margin-left  : auto;
	  margin-right : auto;
	  & > li
	  {
		& > a
		{
		  border : none;
		}
	  }
	}
  }
}

.alert
{
  font-size     : $base-size;
  font-weight   : bold;
  border-radius : 2px;
  &.alert-success
  {
	$col : $color-secondary-4;
	background-image : none;
	color            : $col;
	border           : 1px solid lighten($col,20);
	background-color : lighten($col, 50);
  }
  &.alert-info
  {
	$col : $color-secondary-2;
	background-image : none;
	color            : $col;
	border           : 1px solid lighten($col,20);
	background-color : lighten($col, 38);
  }
  &.alert-warning
  {
	$col : $color-primary-1;
	background-image : none;
	color            : $col;
	border           : 1px solid lighten($col,20);
	background-color : lighten($col, 50);
  }
  &.alert-danger
  {
	$col : $color-secondary-1;
	background-image : none;
	color            : $col;
	border           : 1px solid lighten($col,20);
	background-color : lighten($col, 38);
  }
  i
  {
	&.fa
	{
	  margin-right : $small-padding;
	}
  }
}
